In [1]:
f_name = input("What is your first name?")

What is your first name? Himaanthri

In [2]:
l_name = input("What is your last name?")

What is your last name?  Surendran

In [22]:
sub1 = int(input("Enter subject 1 marks"))
sub2 = int(input("Enter subject 2 marks"))
sub3 = int(input("Enter subject 3 marks"))
sub4 = int(input("Enter subject 4 marks"))
Total = sub1+sub2+sub3+sub4
Average = Total/4
print("\n")
print("Name: ", f_name + l_name)
print("Subject 1 score: ", sub1)
print("Subject 2 score: ", sub2)
print("Subject 3 score: ", sub3)
print("Subject 4 score: ", sub4)
print("Total: ", Total)
print("Average: ", Average)

Enter subject 1 marks 100
Enter subject 2 marks 100
Enter subject 3 marks 100
Enter subject 4 marks 100

Name:  Himaanthri Surendran
Subject 1 score:  100
Subject 2 score:  100
Subject 3 score:  100
Subject 4 score:  100
Total:  400
Average:  100.0

In [21]:
print(f_name,"", l_name," : ", sub1, " | ", sub2," | ",  sub3," | ",  sub4," | \n", "                         ", Total," | ",  Average)

Himaanthri   Surendran  :  100  |  100  |  100  |  100  |
                           400  |  100.0